---
import Layout from '../layouts/Layout.astro';
import Instagram from '../components/iconos/Instagram.astro';
import Mail from '../components/iconos/Mail.astro';
import Linkedin from '../components/iconos/Linkedin.astro';
import Social from '../components/iconos/Social.astro'
---

<Layout title="Vincularte Consultora Especializada en Búsqueda y Selección De Personal de Servicio, Empleadas Dómestica y Cuidadores  DE Adultos Mayores">
	<main class="px-4">
		
		
		<div class="w-full h-1 p-2 text-center bg-white border border-[#FED9D3] rounded-lg shadow sm:p-8 dark:bg-[#FED9D3] dark:border-[#FED9D3] lg:w-[1400px]"></div>	

		<section>
			<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
				
				<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-[#D47A72] md:text-5xl lg:text-6xl ">Vincularte</h1>
				<p class="mb-8 text-lg font-normal text-[#553F41] lg:text-xl sm:px-16 lg:px-48">CONSULTORA ESPECIALIZADA EN BÚSQUEDA Y SELECCIÓN DE EMPLEADAS DOMÉSTICAS Y CUIDADORES DE ADULTOS MAYORES.</p>
				
					<nav class="justify-center flex gap-x-2 mt-2">
					<Social href=""> <Linkedin class="w-6 h-6"/> </Social>
					<Social href="https://www.instagram.com/vincularte.consultora/"> <Instagram class="w-6 h-6"/> </Social>
					<Social href=""> <Mail class="w-6 h-6"/> </Social>
					</nav>		
			
			</div>
		</section>
	
		<section class="w-full mx-auto lg:w-[740px] py-16">
			<h1 class="text-[#D47A72] text-4xl w-flex font-semibold flex justify-left flex-row">Nosotros</h1>
			<h2 class="text-[#553F41] py-4">Somos un equipo de profesionales especializados en Reclutamiento y Selección de Empleadas Domésticas y Cuidadores de Adultos Mayores</h2>
		
			<div class="w-full mx-auto lg:w-[740px] py-4">
				<a class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl py-4">
    				<img class="object-cover w-flex rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/public/img/Screenshot_7.jpg" alt="Mucama">
    				<div class="flex flex-col justify-between p-4 leading-normal">
       					 <p class="text-[#553F41] mb-3 font-normal">Ofrecemos servicios de calidad, basados en las necesidades de cada individuo. Ponemos a disposición todo nuestro saber para asesorar a cada familia que se encuentre en búsqueda de un acompañamiento y/ o servicio acorde.</p>
    				</div>
				</a>
			</div>
			<div class="w-full mx-auto lg:w-[740px] py-4">
				<a  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
    				<img class="object-cover w-flex rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="public/img/adultoMayor.png" alt="AdultoMayor">
    				<div class="flex flex-col justify-between p-4 leading-normal">
       			 		<p class="text-[#553F41] mb-3 font-normal">Estamos en contacto directo con las familias y el personal especializado, para garantizar la generación de vínculos duraderos, donde la calidad de los servicios diarios, promueve el establecimiento de un vínculo privilegiado.</p>
    				</div>
			</a>
			</div>
		</section>

		<section class=" w-full mx-auto lg:w-[740px] py-2">
			<h1 class="text-[#D47A72] text-4xl font-semibold flex justify-left flex-row">¿Qué Ofrecemos?</h1>
			<h2 class="text-[#553F41] py-4">Nos dedicamos al Reclutamiento y Selección de Empleadas Domésticas y Cuidadores de Adultos Mayores.</h2>
		
		
			<div class="w-full mx-auto lg:w-[740px] py-4">
				<a  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
    				<img class="object-cover w-flex rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="public/img/servi.png" alt="Team">
    				<div class="flex flex-col justify-between p-4 leading-normal">
       			 		<p class="text-[#553F41] mb-3 font-normal">Nos destacamos por descubrir profesionales que estén en condiciones de ofrecer servicios de
						calidad, basados en los requisitos y necesidades de cada cliente.</p>
    				</div>
				</a>

			</div>

			<div class="w-full mx-auto lg:w-[740px] py-4">
				<a class="py-4 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
    				<img class="object-cover w-flex rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="public/img/reclu.png" alt="Recluta">
    				<div class="flex flex-col justify-between p-4 leading-normal">
       			 		<p class="text-[#553F41] mb-3 font-normal ">
						Realizamos un riguroso proceso de Selección a todas nuestras Empleadas Domésticas y Cuidadores de Adultos Mayores, para poder brindarles a los clientes seguridad, confianza y tranquilidad de que sus familias se encuentran en un entorno adecuado.</p>
    				</div>
				</a>
			</div>

			<div class="w-full mx-auto lg:w-[740px] py-4">
				<a  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
    				<img class="object-cover w-flex rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="public/img/7400902.jpg" alt="Team">
    				<div class="flex flex-col justify-between p-4 leading-normal">
       			 		<p class="mb-3 font-normal text-[#553F41]">Nuestro servicio incluye seguimiento y garantía, nos mantenemos en contacto todas las semanas con las familias y el personal especializado, en caso de cualquier disconformidad de alguna de las partes, iniciamos un nuevo proceso de búsqueda sin ningún costo, dentro de los meses de garantía.</p>
    				</div>
				</a>
			</div>
		</section>

		<section class="w-full mx-auto lg:w-[740px] py-2">
			<h1 class="text-[#D47A72] text-4xl font-semibold flex justify-left flex-row"> 
			Contrataciones</h1>
			<h2 class="text-[#553F41] py-4">El proceso previo a la contratación de nuestras Empleadas Domésticas y Cuidadores de Adultos Mayores es el siguiente:</H2>
			

		<div class="w-full mx-auto lg:w-[740px] py-2">
	
		<ul class="max-w-md space-y-4 text-[#553F41] list-inside dark:text-gray-400">
    		<li class="flex items-center">
    			<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            		<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         		</svg>
		 		Entrevistas individuales.
   			 </li>
    		<li class="flex items-center">
       			 <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            		<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
        		 </svg>
		 			Constatación de referencias laborales.
			</li>
			<li class="flex items-center">
       			 <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
           			 <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         		</svg>
		 		Evaluación psicológica extensa.
			</li>
			<li class="flex items-center">
        		<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            		<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         		</svg>
		 		Gestión del certificado de Antecedentes Penales.
    		</li>

			<li class="flex items-center">
       			 <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
           	 		<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
        		 </svg>
		 		Estudios médicos (sangre, orina, test de drogas, etc.)
			</li>
			<li class="flex items-center">
        		<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            		<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         		</svg>
		 		Visita domiciliaria de una Asistente Social.
    		</li>
		</ul>
		</div> 
		</section>
		
		<section class="w-full mx-auto lg:w-[740px] py-2"> 
			<a  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
    			<img class="object-cover w-flex rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="public/img/ubi.png" alt="Ubi">
    			<div class="flex flex-col justify-between p-4 leading-normal">
       			 <p class="mb-3 font-normal text-[#D47A72] dark:text-gray-400">Oficinas en Recoleta y Pilar. Próximamente en Nordelta.</p>
    			</div>
			</a>
		
		</section>
		<div class="w-full p-2  bg-[white] border border-[#FED9D3] rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-border-[#FED9D3] lg:w-[1400px]">
    		<nav class="justify-center flex gap-x-2">
				<Social href=""> <Linkedin class="w-6 h-6"/> </Social>
				<Social href=""> <Instagram class="w-6 h-6"/> </Social>
				<Social href=""> <Mail class="w-6 h-6"/> </Social>
			</nav>
		</div>	
    		
		
			
	</main>
</Layout>
