<header class="flex  justify-center items-center  px-4 py-5 w-flex xl:[1400px]">
	<section class=" w-700 mx-auto marg-16 ">
		<img class= "rounded-full w-48 h-48 justify-center " src="public/img/logo.png" alt="logo"/>
	</section>
	
	
</header>
<style>
	header{
	background: url(public/img/vinculartecomple.png) no-repeat ;
	background-size: cover;
	background-position:100% ; 
	}
</style>
